@using Microsoft.AspNetCore.Identity
@model IEnumerable<SimpleForum.Models.Post>
@inject UserManager<IdentityUser> userManager;

@{
    ViewData["Title"] = "Index";
    var threadId = ViewData["threadId"];
}

<h1>Posts</h1>

<p>
    <a asp-action="CreatePost" asp-route-id="@threadId">Create New Post</a>
</p>


@if(Model.Any())
{
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a>@item.PostDescription</a>
                    </td>
                    <td>
                        <a>@item.DatePosted</a>
                    </td>
                    @if (userManager.GetUserId(User).Equals(@item.UserId))
                    {
                        <td>
                            <a asp-action="EditPost" asp-route-id="@item.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-action="DeletePost" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

    <a>Liczba postów:</a>
    <a>@Model.Count()</a>
}
else
{
    <h4>No posts here :( </h4>
}
