@model IEnumerable<SimpleForum.Models.Post>

@{
    ViewData["Title"] = "Index";
    var threadId = ViewData["threadId"];
}

<h1>Posts</h1>

<p>
    <a asp-action="CreatePost" asp-route-id="@threadId">Create New Post</a>
    <ul>
        <a>@threadId</a>
    </ul>
</p>

@if(Model.Any())
{
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a>@item.PostDescription</a>
                    </td>
                    <td>
                        <a>@item.DatePosted</a>
                    </td>
                    <td>
                        <a>@item.PostAuthor</a>
                    </td>
                    <td>
                        <a asp-action="EditPost" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>No posts here :( </h4>
}
